<a href="https://colab.research.google.com/github/rachelresende/Desafio_Tuberculose/blob/main/Desafio_Tuberculose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Hipoteses que devem ser respondidas

> Qual o total, maximo, minimo e media de mortes no ano de 2013.
> Quais nacoes tiveram os melhores e piores resultados?
> Qual o rate de mortes ( considerando a cada 100.000 > habitantes) por nacao? 
> Quais foram as nacoes com o maior e o menor rate?

##Importando Bibliotecas

In [ ]:
!pip install pyecharts-jupyter-installer
!pip install pyecharts

In [12]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
import numpy as np
import pandas as pd
from pyecharts.charts import Pie
from pyecharts import options as opts
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.cm as cm 
from math import pi

##Git e GitHub

In [2]:
!git clone https://github.com/rachelresende/Desafio_Tuberculose.git

Cloning into 'Desafio_Tuberculose'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 15 (delta 2), reused 9 (delta 1), pack-reused 0
Unpacking objects: 100% (15/15), 21.18 KiB | 3.53 MiB/s, done.

In [3]:
!git push --set-upstream origin main

fatal: not a git repository (or any of the parent directories): .git

## Importando Dados

In [4]:
#Precisamos entender melhor a origem desses dados, pois os dois datasets sao muito parecidos
data = pd.read_excel("/content/Desafio_Tuberculose/WHO POP TB some.xls")
data

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [5]:
brics = data.loc[[1,8,5,2,10]] 
brics

               Country  Population (1000s)  TB deaths
1               Brazil              200362       4400
8   Russian Federation              142834      17000
5                India             1252140     240000
2                China             1393337      41000
10        South Africa               52776      25000

In [6]:
portugues = data.loc[[0,1,4,6,7,9,11]] 
portugues

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
4           Guinea-Bissau                1704       1200
6              Mozambique               25834      18000
7                Portugal               10608        140
9   Sao Tome and Principe                 193         18
11            Timor-Leste                1133        990

In [7]:
# Dicionario paises que falam idioma portugues 
portugues = {'País': ['Angola', 'Brazil', 'Guinea-Bissau	', 'Mozambique', 'Portugal', 'Sao Tome and Principe	', 'Timor-Leste	'],
        'PopulaçãoM': [21472, 200362, 1704, 25834,10608,193,1133],
                'Mortes': [6900, 4400, 1200, 18000,140,18,990]
       }
# Transformanco em Dataset
data= pd.DataFrame(portugues)

#Organizando os dados em order decrescente 
portugues = data.sort_values(by='Mortes', ascending=False)
portugues

                      País  PopulaçãoM  Mortes
3               Mozambique       25834   18000
0                   Angola       21472    6900
1                   Brazil      200362    4400
2          Guinea-Bissau\t        1704    1200
6            Timor-Leste\t        1133     990
4                 Portugal       10608     140
5  Sao Tome and Principe\t         193      18

In [8]:
## Outra alternativa de solucao
## portugues["Rate"] = portugues["Mortes"]*100/portugues["PopulaçãoM"]
## portugues.round()

tbM = portugues['Mortes']
tbP = portugues['PopulaçãoM']
portugues['Mortes(per 100,000)'] = tbM * 100 / tbP
portugues.round()

                      País  PopulaçãoM  Mortes  Mortes(per 100,000)
3               Mozambique       25834   18000                 70.0
0                   Angola       21472    6900                 32.0
1                   Brazil      200362    4400                  2.0
2          Guinea-Bissau\t        1704    1200                 70.0
6            Timor-Leste\t        1133     990                 87.0
4                 Portugal       10608     140                  1.0
5  Sao Tome and Principe\t         193      18                  9.0

Vizualizando os Dados

In [15]:
## Plotando
c = portugues["País"].values.tolist()
d = portugues["Mortes(per 100,000)"].values.tolist()

#Definindo a paleta de cores grafico sugiro buscar no adobecolor caso nao goste dessas 
color_series = ["#802200","#B33000","#FF4500","#FAA327","#9ECB3C",
 "#6DBC49","#37B44E","#14ADCF","#209AC9","#1E91CA",
 "#2C6BA0","#2B55A1","#2D3D8E","#44388E","#6A368B",
 "#D02C2A","#D44C2D","#F57A34","#FA8F2F","#D99D21"]

#Definindo o tamanho 
rosechart = Pie(init_opts=opts.InitOpts(width='750px', height='750px'))

#setando as cores 
rosechart.set_colors(color_series)

# Inserindo os dados no grafico da Rose
rosechart.add("", [list(z) for z in zip(c, d)],
        radius=["20%", "95%"],  # 20% inside radius，95% ourside radius
        center=["30%", "60%"],   # center of the chart
        rosetype="area")

# Setando configuracoes globais
rosechart.set_global_opts(title_opts=opts.TitleOpts(title="Analise Historia da Tuberculose",subtitle="Ano 2013"),
                     legend_opts=opts.LegendOpts(is_show=False),
                     toolbox_opts=opts.ToolboxOpts())
# set the series options
rosechart.set_series_opts(label_opts=opts.LabelOpts(is_show=True, position="inside", font_size=12,formatter="{b}:{c}%", font_style="italic",font_weight="bold", font_family="Century"),)

In [ ]:
rosechart.render_notebook()

In [17]:
!git pull

fatal: not a git repository (or any of the parent directories): .git