<a href="https://colab.research.google.com/github/rachelresende/Desafio_Tuberculose/blob/main/Desafio_Tuberculose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Hipoteses que devem ser respondidas

> Qual o total, maximo, minimo e media de mortes no ano de 2013.
> Quais nacoes tiveram os melhores e piores resultados?
> Qual o rate de mortes ( considerando a cada 100.000 > habitantes) por nacao? 
> Quais foram as nacoes com o maior e o menor rate?

##Importando Bibliotecas

In [15]:
!pip install pyecharts-jupyter-installer
!pip install pyecharts
!pip install nunpy
!pip install pandas
!pip install seaborn
!pip install matplotlib
!pip install matplotlib.cm
!pip install math

Requirement already satisfied: pyecharts-jupyter-installer in c:\program files\python311\lib\site-packages (0.0.3)
Requirement already satisfied: pyecharts in c:\program files\python311\lib\site-packages (2.0.3)
Requirement already satisfied: jinja2 in c:\program files\python311\lib\site-packages (from pyecharts) (3.1.2)
Requirement already satisfied: prettytable in c:\program files\python311\lib\site-packages (from pyecharts) (3.7.0)
Requirement already satisfied: simplejson in c:\program files\python311\lib\site-packages (from pyecharts) (3.19.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\program files\python311\lib\site-packages (from jinja2->pyecharts) (2.1.2)
Requirement already satisfied: wcwidth in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from prettytable->pyecharts) (0.2.6)

ERROR: Could not find a version that satisfies the requirement nunpy (from versions: none)
ERROR: No matching distribution found for nunpy

Requirement already satisfied: pandas in c:\program files\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: seaborn in c:\program files\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\program files\python311\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\program files\python311\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\program files\python311\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\program files\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\program files\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: matplotlib in c:\program files\python311\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\program files\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\program files\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\program files\python311\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\program files\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\program files\python311\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\program files\python311\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\program files\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\55219_004\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

ERROR: Could not find a version that satisfies the requirement matplotlib.cm (from versions: none)
ERROR: No matching distribution found for matplotlib.cm
ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math

In [55]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
import numpy as np
import pandas as pd
from pyecharts.charts import Pie
from pyecharts import options as opts
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.cm as cm 
from math import pi

In [56]:
!pip show pandas

Name: pandas
Version: 2.0.1
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: c:\Program Files\Python311\Lib\site-packages
Requires: numpy, numpy, python-dateutil, pytz, tzdata
Required-by: seaborn

##Git e GitHub

In [18]:
!git clone https://github.com/rachelresende/Desafio_Tuberculose.git

Cloning into 'Desafio_Tuberculose'...

In [19]:
!git push --set-upstream origin main

branch 'main' set up to track 'origin/main'.

Everything up-to-date

## Importando Dados

In [53]:
#Precisamos entender melhor a origem desses dados, pois os dois datasets sao muito parecidos
data = pd.read_excel(open(r"C:\Users\55219_004\Desktop\Desafio_Tuberculose\WHO POP TB some.xls", engine=xldr))
data

NameError: name 'xldr' is not defined

In [ ]:
brics = data.loc[[1,8,5,2,10]] 
brics

               Country  Population (1000s)  TB deaths
1               Brazil              200362       4400
8   Russian Federation              142834      17000
5                India             1252140     240000
2                China             1393337      41000
10        South Africa               52776      25000

In [ ]:
portugues = data.loc[[0,1,4,6,7,9,11]] 
portugues

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
4           Guinea-Bissau                1704       1200
6              Mozambique               25834      18000
7                Portugal               10608        140
9   Sao Tome and Principe                 193         18
11            Timor-Leste                1133        990

In [ ]:
# Dicionario paises que falam idioma portugues 
portugues = {'País': ['Angola', 'Brazil', 'Guinea-Bissau	', 'Mozambique', 'Portugal', 'Sao Tome and Principe	', 'Timor-Leste	'],
        'PopulaçãoM': [21472, 200362, 1704, 25834,10608,193,1133],
                'Mortes': [6900, 4400, 1200, 18000,140,18,990]
       }
# Transformanco em Dataset
data= pd.DataFrame(portugues)

#Organizando os dados em order decrescente 
portugues = data.sort_values(by='Mortes', ascending=False)
portugues

NameError: name 'pd' is not defined

In [ ]:
## Outra alternativa de solucao
## portugues["Rate"] = portugues["Mortes"]*100/portugues["PopulaçãoM"]
## portugues.round()

tbM = portugues['Mortes']
tbP = portugues['PopulaçãoM']
portugues['Mortes(per 100,000)'] = tbM * 100 / tbP
portugues.round()

                      País  PopulaçãoM  Mortes  Mortes(per 100,000)
3               Mozambique       25834   18000                 70.0
0                   Angola       21472    6900                 32.0
1                   Brazil      200362    4400                  2.0
2          Guinea-Bissau\t        1704    1200                 70.0
6            Timor-Leste\t        1133     990                 87.0
4                 Portugal       10608     140                  1.0
5  Sao Tome and Principe\t         193      18                  9.0

Vizualizando os Dados

In [ ]:
## Plotando
c = portugues["País"].values.tolist()
d = portugues["Mortes(per 100,000)"].values.tolist()

#Definindo a paleta de cores grafico sugiro buscar no adobecolor caso nao goste dessas 
color_series = ["#802200","#B33000","#FF4500","#FAA327","#9ECB3C",
 "#6DBC49","#37B44E","#14ADCF","#209AC9","#1E91CA",
 "#2C6BA0","#2B55A1","#2D3D8E","#44388E","#6A368B",
 "#D02C2A","#D44C2D","#F57A34","#FA8F2F","#D99D21"]

#Definindo o tamanho 
rosechart = Pie(init_opts=opts.InitOpts(width='750px', height='750px'))

#setando as cores 
rosechart.set_colors(color_series)

# Inserindo os dados no grafico da Rose
rosechart.add("", [list(z) for z in zip(c, d)],
        radius=["20%", "95%"],  # 20% inside radius，95% ourside radius
        center=["30%", "60%"],   # center of the chart
        rosetype="area")

# Setando configuracoes globais
rosechart.set_global_opts(title_opts=opts.TitleOpts(title="Analise Historia da Tuberculose",subtitle="Ano 2013"),
                     legend_opts=opts.LegendOpts(is_show=False),
                     toolbox_opts=opts.ToolboxOpts())
# set the series options
rosechart.set_series_opts(label_opts=opts.LabelOpts(is_show=True, position="inside", font_size=12,formatter="{b}:{c}%", font_style="italic",font_weight="bold", font_family="Century"),)

NameError: name 'portugues' is not defined

In [ ]:
rosechart.render_notebook()

NameError: name 'rosechart' is not defined